.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  justify-content: center;
}

#board {
  background-color: rgb(215, 215, 245);
  width: 600px;
  height: 500px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.tile {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 60px;
  margin: 5px;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
